fieldset{
  background-color: skyblue;
}
label{
  color:snow;

}
b{
  color:snow;
  border:5px outset lightblue;
  background-color:skyblue;
}
body
{
  font-family: 'Khmer CN Battambang';
  background-color: gray;
  color:snow;
}
h2{
  border:5px outset lightblue;
  width:40%;
  background-color:skyblue;
}
